<div>
    <app-aircrafts-navbar (eventEmitter)="onActionEvent($event)"></app-aircrafts-navbar>
    <ng-container *ngIf="aircrafts$ | async as result" [ngSwitch]="result.dataState">
        <ng-container *ngSwitchCase="dataStateEnum.LOADING">
            <div class="p-2">Chargement en cours, patienter</div>
        </ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.LOADED">
            <div class="p-2">Chargé</div>
        </ng-container>
        <ng-container *ngSwitchCase="dataStateEnum.ERROR">
            <div class="p-2 text-danger">{{result.errorMessage}}</div>
        </ng-container>
        <table class="table striped">
            <tr>
                <th>ID</th>
                <th>Program</th>
                <th>Design</th>
                <th>Developement</th>
            </tr>
            <tr *ngFor="let aircraft of result.data">
                <td>{{aircraft.id}}</td>
                <td>{{aircraft.prog}}</td>
                <td>{{aircraft.design}}</td>
                <td>{{aircraft.development}}</td>
            </tr>
        </table>
    </ng-container>
</div>